[db]
host = "indexer-db"
port = 3306
database = "flare_ftso_indexer"
username = "root"
password = "root"
log_queries = false  # Log db queries (for debugging)

[logger]
level = "INFO"      # valid values are: DEBUG, INFO, WARN, ERROR, DPANIC, PANIC, FATAL (as in zap logger)
file = "./logs/flare-tlc.log"  # logger file
max_file_size = 10  # max file size before rotating, in MB
console = true      # also log to console

[metrics]
prometheus_address = ""  # expose client metrics to this address (empty value does not expose this endpoint)

[chain]
node_url = "${NODE_RPC_URL}"  # node client address
api_key = "${NODE_API_KEY}"
address_hrp = "local"  # HRP (human readable part) of chain -- used to properly encode/decode addresses
chain_id = ${CHAIN_ID}  # chain id
eth_rpc_url = "${NODE_RPC_URL}"  # Ethereum RPC URL

[contract_addresses] # update accoriing to deployed contracts
submission = "$SUBMISSION"
systems_manager = "$FLARE_SYSTEMS_MANAGER"
voter_registry = "$VOTER_REGISTRY"
relay = "$RELAY"

[identity]
address = "$IDENTITY" # identity account not private key

[clients]
enabled_registration = true       # enable/disable registration - send RegisterVoter and SignNewSigningPolicy txs
enabled_protocol_voting = true
enabled_finalizer = true

[protocol.ftso1]
id = 100
api_endpoint = "http://data-provider:3100/"

[submit1]
start_offset = "75s"   # start fetching data and submitting txs after this offset from the start of the epoch
tx_submit_retries = 1  # number of retries for submitting txs

[submit2]
start_offset = "5s"
tx_submit_retries = 1

[submit_signatures]
start_offset = "50s"
tx_submit_retries = 1
data_fetch_retries = 1  # number of retries for fetching data from the API, timeout is 1 second
max_rounds = 3          # max number of rounds to fetch data and submit signatures

[finalizer]
starting_reward_epoch = 0
grace_period_end_offset = "65s"

[gas_submit]
gas_price_multiplier = 1.5
gas_price_fixed = 0
gas_limit = 2500000

[gas_register]
gas_price_multiplier = 1.5
gas_price_fixed = 0 
gas_limit = 0
